## Removing NULLS (None, NaN)

In [1]:
import pandas as pd


print(pd.DataFrame(['a','b',None])) ## Str = None
print(pd.DataFrame([1,2,3,None])) ## Num = NaN

      0
0     a
1     b
2  None
     0
0  1.0
1  2.0
2  3.0
3  NaN

#### .isnull()

In [45]:
## .isnull() works across both NaN and None
print(pd.DataFrame([['a',1],['b',2],[None,None]]))

pd.DataFrame([['a',1],['b',2],[None,None]]).isnull()

      0    1
0     a  1.0
1     b  2.0
2  None  NaN

       0      1
0  False  False
1  False  False
2   True   True

#### .notnull()

In [49]:
## .isnull() works across both NaN and None
print(pd.DataFrame([['a',1],['b',2],[None,None]]))

pd.DataFrame([['a',1],['b',2],[None,None]]).notnull()

      0    1
0     a  1.0
1     b  2.0
2  None  NaN

       0      1
0   True   True
1   True   True
2  False  False

#### .dropna()

In [60]:
print(pd.DataFrame([['a',1,'z'],['b',2,'y'],[None,None,'z']]))

print('\n-----------\n')
print(pd.DataFrame([['a',1,'z'],['b',2,'y'],[None,None,'z']]).dropna()) ## Axis = 0, row

print('\n-----------\n')
print(pd.DataFrame([['a',1,'z'],['b',2,'y'],[None,None,'z']]).dropna(axis=1)) ## Axis = 1 , col

print('\n-----------\n')
print(pd.DataFrame([['a',1,'z'],['b',2,'y'],[None,None,'z']]).dropna(how = 'all'))

      0    1  2
0     a  1.0  z
1     b  2.0  y
2  None  NaN  z

-----------

   0    1  2
0  a  1.0  z
1  b  2.0  y

-----------

   2
0  z
1  y
2  z

-----------

      0    1  2
0     a  1.0  z
1     b  2.0  y
2  None  NaN  z

#### .fllna()

In [80]:
df =pd.DataFrame([['a',1,'z'],['b',2,'y'],[None,None,'z']])
print(df)
print('\n-----------\n')

print(df.fillna('NULL Value'))
print('\n-----------\n')

print(df.fillna(0)),
print('\n-----------\n')

print('\n-----------\n')
print(df.fillna(method = 'ffill', axis = 0)) # Forward Fill - Take the value from the row beforehand (Opposite of backfill)

print('\n-----------\n')
print(df.fillna(method = 'bfill', axis = 1)) ## Collumn backfill

      0    1  2
0     a  1.0  z
1     b  2.0  y
2  None  NaN  z

-----------

            0           1  2
0           a           1  z
1           b           2  y
2  NULL Value  NULL Value  z

-----------

   0    1  2
0  a  1.0  z
1  b  2.0  y
2  0  0.0  z

-----------


-----------

   0    1  2
0  a  1.0  z
1  b  2.0  y
2  b  2.0  z

-----------

   0  1  2
0  a  1  z
1  b  2  y
2  z  z  z