In [1]:
import numpy as np

## Array Creation

In [44]:
x = np.array([1,2,3])
y = np.array([[1,2,3],[4,5,6]])

In [46]:
print(y.shape)
print(y.size)
print(y.dtype)
print(y.itemsize)

(2, 3)
6
int64
8

In [52]:
z = np.array( [ [1,2], [3,4] ], dtype = float )
print(z)
print(y.dtype)

[[1. 2.]
 [3. 4.]]
int64

In [59]:
np.zeros( (3,4), dtype = np.int16)

array([[0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0]], dtype=int16)

In [60]:
np.ones( (3,4), dtype = np.int8 )

array([[1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1]], dtype=int8)

In [63]:
np.empty( (2,3) , dtype = int)

array([[0, 0, 0],
       [0, 0, 0]])

In [72]:
## np.arange( Start, Stop, [step] )
print(np.arange( 10, 30, 1 ))
print("\n\n")
print(np.arange(100))

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29]



[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71
 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95
 96 97 98 99]

In [104]:
np.arange( 4, 16, 2 )

array([ 4,  6,  8, 10, 12, 14])

In [93]:
np.random.rand(3,2)*100

array([[84.50649409, 12.51473012],
       [99.42917625, 61.26318018],
       [67.34453313,  3.73017617]])

In [90]:
from numpy import pi

pi

3.141592653589793

### Basic Arithmitic

In [127]:
print(np.arange( 1, 11 ) @ np.ones( (10,1))) # Product
print('---------')

print(np.arange( 1, 11 ).dot(np.ones( (10,1)))) # Product

print('---------')
print(np.arange( 1, 11 ) * np.ones( (10,1))) # Element wise multiplication

[55.]
---------
[55.]
---------
[[ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10.]
 [ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10.]
 [ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10.]
 [ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10.]
 [ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10.]
 [ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10.]
 [ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10.]
 [ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10.]
 [ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10.]
 [ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10.]]

### Slicing, Iterating & Indexing

In [130]:
def f(x,y):
     return 10*x+y

b = np.fromfunction(f,(5,4),dtype=int)
b

array([[ 0,  1,  2,  3],
       [10, 11, 12, 13],
       [20, 21, 22, 23],
       [30, 31, 32, 33],
       [40, 41, 42, 43]])

In [135]:
for row in b:
    print(row.sum())
    
print('\n-----\n')
for row in b.T:
    print(row)

6
46
86
126
166

-----

[ 0 10 20 30 40]
[ 1 11 21 31 41]
[ 2 12 22 32 42]
[ 3 13 23 33 43]

In [138]:
for i in b.flat:
    print(i)

0
1
2
3
10
11
12
13
20
21
22
23
30
31
32
33
40
41
42
43